---
import Layout from '@layouts/Layout.astro'
import Heading from '@components/astro/typography/Heading.astro'
import SectionContainer from '@components/astro/containers/SectionContainer.astro'

const title = 'Our Story'
---

<Layout title={title}>
  <SectionContainer>
    <Heading level={1} className="text-center">
      This is <span class="text-gradient">{title}</span> page
    </Heading>
  </SectionContainer>
</Layout>
