{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["twMerge"],
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
