---
interface Props {
  title: string
  body: string
}

const { title, body }: Props = Astro.props
---

<div
  class="link-card flex rounded-lg bg-surface p-[calc(1.5rem-1px)] text-white shadow-inner shadow-white/10">
  <slot name="right-side" />
  <div>
    <h3 class="m-0 text-xl">
      {title}
    </h3>
    <p class="mb-0 mt-2">
      {body}
    </p>
  </div>
</div>
