---
import CardContainer from '@components/astro/containers/CardContainer.astro'
---

<CardContainer showGradient>
  <div class="rounded-md bg-surface py-4 text-lg">
    <p>
      <slot />
    </p>
  </div>
</CardContainer>
