---
import CardContainer from '@components/astro/containers/CardContainer.astro'
---

<CardContainer showGradient>
  <p class="rounded-md bg-surface py-4 text-lg">
    <slot />
  </p>
</CardContainer>
