---
import { cn } from '@utils/cn'
import type { IconNames, IconSize } from '@data/types/icons'
import { SOCIAL_ICONS, ICON_SIZES } from '@data/types/icons'

interface Props {
  icon: IconNames
  size?: IconSize
  className?: string
  label?: string
}

const { icon, size = 'md', className, label } = Astro.props

const iconConfig = SOCIAL_ICONS[icon]
const ariaLabel = label || iconConfig.label
---

<span
  class={cn(iconConfig.icon, ICON_SIZES[size], 'transition duration-300', className)}
  aria-label={ariaLabel}
  role="img">
</span>
