---
import { cn } from '@utils/cn'

interface Props {
  containerClassName?: string
  className?: string
  showGradient?: boolean
  gradientOnlyOnHover?: boolean
}

const {
  className,
  showGradient = false,
  gradientOnlyOnHover = false,
  containerClassName,
} = Astro.props
---

<div class={cn('group relative', containerClassName)}>
  {
    showGradient && (
      <div
        class={cn(
          'animate-gradient-xy absolute -inset-0.5 rounded-lg bg-gradient-to-r from-accent via-accent-dark to-accent-light',
          gradientOnlyOnHover && 'opacity-0 transition-opacity duration-300 group-hover:opacity-100'
        )}
      />
    )
  }

  <div class={cn('relative h-full rounded-lg bg-surface p-6', className)}>
    <slot />
  </div>
</div>
