---
import { cn } from '@utils/cn'

type ImageContainerVariant = 'default' | 'grid'

interface Props {
  className?: string
  showGradient?: boolean
  gradientOnlyOnHover?: boolean
  variant?: ImageContainerVariant
  parentContainerClassName?: string
}

const {
  className,
  showGradient = false,
  gradientOnlyOnHover = false,
  variant = 'default',
  parentContainerClassName,
} = Astro.props

const variantClasses = {
  default: 'aspect-square group-hover/card:opacity-100',
  grid: 'group-hover/image:opacity-100',
}
---

<div class={cn('group/image relative', parentContainerClassName)}>
  {
    showGradient && (
      <div
        class={cn(
          'animate-gradient-xy absolute -inset-0.5 rounded-lg bg-gradient-to-r from-accent via-accent-dark to-accent-light',
          gradientOnlyOnHover && 'opacity-0 transition-opacity duration-300',
          variantClasses[variant]
        )}
      />
    )
  }

  <div class={cn('relative overflow-hidden rounded-lg', className)}>
    <slot />
  </div>
</div>
