---
import { cn } from '@utils/cn'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {
  outerClasses?: string
  innerClasses?: string
  rest?: HTMLAttributes<'section'>
}

const { outerClasses, innerClasses, ...rest } = Astro.props
---

<section class={cn('relative w-full py-8 md:py-12', outerClasses)} {...rest}>
  <div class={cn('container px-4 md:px-8 lg:px-16', innerClasses)}>
    <slot />
  </div>
</section>
