---
import Layout from '../../layouts/Layout.astro'
import SectionContainer from '../../components/SectionContainer.astro'

const { id } = Astro.params
const title = `Episode ${id}`
---

<Layout title={title}>
  <SectionContainer>
    <h1 class="text-center text-4xl font-bold">
      This is <span class="text-gradient">{title}</span> page
    </h1>
  </SectionContainer>
</Layout>
