---
import Layout from '@layouts/Layout.astro'
import DescriptionCard from '@components/astro/DescriptionCard.astro'
import EpisodesGrid from '@sections/episodes/EpisodesGrid.astro'
import { $showData } from '@store/episodes'
const show = $showData.get().data

if (!show) {
  throw new Error('No show data found')
}
---

<Layout title={show.name}>
  <div class="container flex flex-col gap-12 py-8">
    <DescriptionCard>
      {show.description}
    </DescriptionCard>
  </div>
  <EpisodesGrid />
</Layout>
