---
import Layout from '@layouts/Layout.astro'
import Hosts from '@sections/home/Hosts.astro'
import { fetchEpisodes } from '@utils/spotify'
import EpisodeCard from '@components/astro/EpisodeCard.astro'
import DescriptionCard from '@components/astro/DescriptionCard.astro'
import Logo from '@components/astro/Logo.astro'
import CommunityCard from '@components/astro/CommunityCard.astro'
const show = await fetchEpisodes(import.meta.env.PUBLIC_SPOTIFY_SHOW_ID)

const parsedEpisodes = show.episodes.items.reverse().slice(0, 4)
---

<Layout title={`${show.name}`}>
  <Logo showName={show.name} />
  <!-- Todo: Extract description to a separate Section -->

  <div class="container space-y-12 py-8 text-xl leading-relaxed">
    <DescriptionCard>
      {show.description}
    </DescriptionCard>
  </div>

  <Hosts />
  <!-- Todo: Extract episodes to a separate Section -->

  <div class="container space-y-12 py-8 text-xl leading-relaxed">
    <ul role="list" class="mx-auto grid max-w-7xl grid-cols-1 gap-8 p-0 md:grid-cols-2">
      {parsedEpisodes.map((episode) => <EpisodeCard {...episode} />)}
    </ul>
    <CommunityCard />
  </div>
</Layout>
