---
import Layout from '@layouts/Layout.astro'
import Hosts from '@sections/home/Hosts.astro'
import DescriptionCard from '@components/astro/DescriptionCard.astro'
import SuccessStories from '@sections/our-story/SuccessStories.astro'
import CommunityCard from '@components/astro/CommunityCard.astro'
import EpisodesGrid from '@sections/episodes/EpisodesGrid.astro'
import Button from '@components/astro/Button.astro'
import { $showData } from '@store/episodes'
const show = $showData.get().data

if (!show) {
  throw new Error('No show data found')
}

---

<Layout title={show.name}>

  <div class="container space-y-12 py-8 text-xl leading-relaxed">
    <DescriptionCard>
      {show.description}
    </DescriptionCard>
  </div>

  <Hosts />

  <EpisodesGrid compact />

  <div class="container space-y-12 py-8 text-xl leading-relaxed flex justify-center">
    <Button size='xl' variant='link' class='flex items-center gap-2' href="/episodes"><span class="icon-[tabler--headphones]"></span>לכל הפרקים
    
    </Button>
  </div>

  <div class="container space-y-12 py-8 text-xl leading-relaxed">
    <CommunityCard />
  </div>

  <SuccessStories compact />
</Layout>
