---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TestCounter from "@components/TestCounter.tsx";
---

<Layout title="Test Page">
  <SectionContainer outerClasses="bg-surface text-white">
    <div class="space-y-8">
      <div>
        <h2 class="mb-4 text-2xl font-bold">Our Custom Colors</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
          <div class="space-y-2">
            <div class="h-20 rounded-lg border border-white bg-accent"></div>
            <p class="font-mono text-sm">bg-accent</p>
          </div>
          <div class="space-y-2">
            <div class="border-wh h-20 rounded-lg border bg-accent-light"></div>
            <p class="font-mono text-sm">bg-accent-light</p>
          </div>
          <div class="space-y-2">
            <div class="border-wh h-20 rounded-lg border bg-accent-dark"></div>
            <p class="font-mono text-sm">bg-accent-dark</p>
          </div>
          <div class="space-y-2">
            <div class="border-wh h-20 rounded-lg border bg-surface"></div>
            <p class="font-mono text-sm">bg-surface</p>
          </div>
          <div class="space-y-2">
            <div class="border-wh h-20 rounded-lg border bg-surface-dark"></div>
            <p class="font-mono text-sm">bg-surface-dark</p>
          </div>
        </div>
      </div>

      <div>
        <h2 class="mb-4 text-2xl font-bold">Custom Gradient</h2>
        <div class="space-y-4">
          <div class="h-20 rounded-lg bg-gradient-accent"></div>
          <p class="font-mono text-sm">bg-gradient-accent</p>
        </div>
      </div>

      <div>
        <h2 class="mb-4 text-2xl font-bold">Typography</h2>
        <div class="space-y-6">
          <div class="space-y-2">
            <h3 class="text-xl font-semibold">
              Sans-Serif Font (Rubik) - <span class="font-mono text-accent-light">font-sans</span>
            </h3>
            <p class="font-sans text-2xl tracking-wide">
              אבגדהוזחטיכלמנסעפצקרשת - Hebrew<br />
              ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 0123456789
            </p>
          </div>

          <div class="space-y-2">
            <h3 class="text-xl font-semibold">
              Monospace Font - <span class="font-mono text-accent-light">font-mono</span>
            </h3>
            <p class="font-mono text-2xl tracking-wide">
              אבגדהוזחטיכלמנסעפצקרשת - Hebrew<br />
              ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz 0123456789
            </p>
          </div>

          <div class="space-y-2">
            <h3 class="text-xl font-semibold">
              Gradient Text - <span class="font-mono text-accent-light">text-gradient</span>
            </h3>
            <p class="text-gradient text-4xl font-bold">This text has our custom gradient</p>
          </div>
        </div>
      </div>
    </div>
  </SectionContainer>
  <SectionContainer
    outerClasses="bg-gradient-to-r from-slate-300 to-stone-200"
    innerClasses="text-surface"
    dir="ltr">
    <h1 class="text-2xl font-bold">I'm a React counter component</h1>
    <TestCounter client:idle />
    <h2>Where are we?</h2>
    <p>
      Well, we are in the test page. This is a test to see if we can render a React component in an
      Astro page.
    </p>
    <p>
      But more importantly, we are inside the <code>SectionContainer</code> component.
    </p>
  </SectionContainer>

  <SectionContainer
    outerClasses="bg-gradient-to-r from-sky-300 to-amber-200"
    innerClasses="text-surface-dark text-left"
    dir="ltr">
    <h1 class="text-2xl font-bold">Well, what is the SectionContainer?</h1>
    <p>
      It's a component that wraps the content in a section element with a container inside it. i
      have been using this pattern for a while and i find it highly useful. especially for content
      focused websites.
    </p>
    <p>The main logic I built it with is:</p>
    <ul class="list-disc space-y-2 pl-6">
      <li>
        The external element takes care of vertical spacing, ensuring stacked sections are properly
        spaced out and keep everything sharp.
      </li>
      <li>
        The external element also handles the full page width background color, making it easy to
        change the entire section's background. Being relatively positioned allows inner elements to
        be positioned absolutely.
      </li>
      <li>
        The internal element manages horizontal spacing, keeping content centered and visually
        clean.
      </li>
    </ul>
  </SectionContainer>
</Layout>
