---
interface Props {}
---

<div class="bg-gradient-accent mx-auto my-8 flex w-4/5 max-w-4xl flex-col rounded-md p-0.5">
  <div class="bg-surface rounded-md px-6 py-4">
    <p>
      <slot />
    </p>
  </div>
</div>
