---
import LogoSvg from "../images/logo.svg";
interface Props {
  showName: string;
}

const { showName } = Astro.props;
---

<img src={LogoSvg.src} alt=`${showName} logo` class="logo-image" />
<h1 class="text-gradient">{showName}</h1>
