---
import Navbar from '@components/astro/Navbar.astro'
import '@fontsource-variable/rubik'
import Footer from '@components/astro/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
import { $showData } from '@store/episodes'
import Logo from '@components/astro/Logo.astro'
const show = $showData.get().data

if (!show) {
  throw new Error('No show data found')
}
---

<!doctype html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body dir="rtl" class="min-h-dvh bg-surface-dark text-white antialiased">
    <Navbar />
    <Logo showName={show.name} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      oklch(61.44% 0.099 196.83) 10%,
      oklch(85.93% 0.063 195.95) 50%,
      white 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes gradient-xy {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
  }

  .animate-gradient-xy {
    background-size: 400% 400%;
    animation: gradient-xy 4s linear infinite;
  }
</style>

<script>
  import { initializeAllSliders } from '@utils/carousel'

  // Initialize sliders on page load
  document.addEventListener('DOMContentLoaded', initializeAllSliders)
</script>
