---
import '@fontsource-variable/rubik'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body dir="rtl" class="min-h-dvh bg-surface-dark text-white antialiased">
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @tailwind utilities;

  @layer utilities {
    .text-gradient {
      @apply bg-gradient-accent bg-gradient-lg bg-clip-text text-transparent transition-all duration-300;
    }
  }

  @keyframes gradient-xy {
    0%,
    100% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
  }

  .animate-gradient-xy {
    background-size: 400% 400%;
    animation: gradient-xy 6s linear infinite;
  }
</style>
